/*--------------------------*/
/*  CARD CSS
/*--------------------------*/

.card{
    box-shadow : var(--shadow-7);
    width:100%;
    display:flex;
    flex-direction: column;
}
.card .card-content,.card-footer{
    padding:1.5rem 3rem; 
}
.card:hover{
    box-shadow: var(--shadow-6);
    transition:var(--transition-2);
    cursor: pointer;
}
.card img{
    width: 100%;
}
.card .card-desc{
    font-size: var(--fs-8);
}
.card .card-title{
    font-size: 1.8rem;
}
.card .card-footer p{
    font-size: var(--fs-6);
    color: var(--silver);
    font-weight: 900;
}

