/*--------------------------*/
/*  HEADER CSS
/*--------------------------*/
header.fixed{
    
    position: fixed;
    top: 0;
    left: 0;
    background: var(--white);
    z-index: 999;
    box-shadow: var(--shadow-2);
    /* animation: moveFromTop 0.1s ease;   */
    width: 100%;
}

.header-container{
    padding-inline: var(--padding-inline-20);
    padding-block: var(--padding-block-10);
    box-shadow: var(--shadow-3);
    display: flex;
    justify-content: space-between;
    gap: 4rem;
}
.header-container div{
    display: flex;
    gap: 3rem;
    align-items: center;
}

.mobile-nav-toggle i{
    font-weight: 100;
}

.logo {
    font-weight: 900;
    color: var(--first-color);
    font-size: 3rem;
}

.input-box{
    border: 1px solid silver;
    border-radius: var(--radius-5);
    position: relative;
}

.input-box .search-field{
    padding-inline: var(--padding-inline-20);
    padding-inline-end: var(--padding-inline-40);
    height: 4rem;
    font-size: 2rem;
    color: var(--first-color);
    font-weight: 900;
}
.input-box #search-submit{
    position: absolute;
    right: 17px;
    top: 5px;
}
.input-box i{
    color: var(--silver) !important;
    font-weight: 100;
}
.input-box:hover i{
    color: var(--first-color) !important;
    font-weight: 900;
}
.desktop-menu .nav-menu{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    color: var(--text-primary);
}
.header-container .header-right{
    display: none;
}

.header-container .logo{
    display: none;
}
.header-container .search-container {
    width: 100%;
}