/*--------------------------*/
/*  MAIN CSS
/*--------------------------*/

#page-content{
    margin-bottom: 3rem;
}

.container {
    width: 100%;
    max-width: 100% !important;
}

main .wrapper{
    margin: 1.5rem;
    flex-wrap: wrap;
    gap: 3rem;
}