/*--------------------------*/
/*  MAIN CSS
/*--------------------------*/

.container {
    width: 100%;
    /* margin-bottom: 34rem; */
    padding:2rem ;
}

#page-content{
    overflow: auto;
    display: flex;
    justify-content: center;
}


#page-content .wrapper{
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: space-between;
}
#page-content .wrapper .single-document{
  flex-direction: column;
}

.mobile-hide{
    display: none;
}