#page{
    width:100vw;
    height:100vh;
}

.form-container{
    width: 100%;
    padding-block: 8rem;
    padding-inline: 9rem;
}

.form-container form{
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content:center;
    font-size: 3rem;
}

.form-container .input-group{
    margin-bottom: 4rem;
}

.form-container .label{
    font-size: 3rem;
}

.bottom{
    flex-direction: column;
    font-size: 2rem;
    gap: 4rem;
    color: var(--text-primary);
}

#remember-container{
    display: flex;

}